# requirements.txt

beautifulsoup4==4.12.3
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
lunr==0.7.0.post1


# Use the following commands to create a virtual environment and install the required packages:
# python3 -m venv .venv
# source .venv/bin/activate
# python3 -m pip install -r requirements.txt

# additional tools: 
# brew install vice # for petcat
# brew install imagemagick
